{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/teams/team-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class='team-container'>
  {% comment %} <div class='team-img'>
    <img src="" alt="Team logo">
  </div> {% endcomment %}
  <div class='team-details'>
    <h1>{{ team.name }}</h1>
    <h3>{{ team.location }}</h3>
    <p>Constructors' Championships: {{ team.constructors_championships }}</p>
    <p>Drivers' Championships: {{ team.drivers_championships }}</p>
    <p>Race Victories: {{ team.race_wins }}</p>
    <div class='team-actions'>
      <a href="{% url 'teams_update' team.id %}" class='btn warn'>Edit</a>
      <a href="{% url 'teams_delete' team.id %}" class='btn danger'>Delete</a>
    </div>
  </div>
</section>

<div class="drivers-positions-container">
  <section class="drivers">
    <div class="subsection-title">
      <h2>Drivers</h2>
    </div>
    <h3>Add a Driver</h3>
    <form
      action="{% url 'add_driver' team.id %}"
      method='post'
      class='subsection-content'
      autocomplete='off'
    >
      {% if team.drivers_selected %}
        <p class='drivers-selected'>{{team.name}} has enough drivers</p>
      {% else %}
        <p class='drivers-not-selected'> {{team.name}} needs more drivers</p>
      {% endif %}

      {% csrf_token %}
      {{ driver_form.as_p }}
      <button type='submit' class='btn submit'>Add Driver</button>
    </form>
    <h3>Current Drivers</h3>
    {% if team.driver_set.all.count %}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Nationality</th>
            <th>Start Year</th>
            <th>Wins</th>
            <th>Championships</th>
          </tr>
        </thead>
        <tbody>
          {% for driver in team.driver_set.all %}
            <tr>
              <td>{{driver.name}}</td>
              <td>{{driver.age}}</td>
              <td>{{driver.nationality}}</td>
              <td>{{driver.start_year}}</td>
              <td>{{driver.wins}}</td>
              <td>{{driver.championships}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class='subsection-content'>
        <p>No drivers added to {{team.name}} </p>
      </div>
    {% endif %}
  </section>

  <section class='positions'>
    <div class='subsection-title'>
      <h2>Team Members</h2>
    </div>
    <h3>{{team.name}}'s Team</h3>
    <div class='subsection-content'>
      {% if team.positions.count %}
        {% for position in team.positions.all %}
          <div class='position-container'>
            <a href="{% url 'positions_detail' position.id %}">
              <p>{{position.name}} ({{position.get_department_display}})</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class='no-positions'>
          {{team.name}} hasn't hired any team members
        </p>
      {% endif %}
    </div>
    <h3>Available Positions</h3>
    <div class='subsection-content'>
      {% if positions.count %}
        {% for position in positions.all %}
          <div class='position-container'>
            <a href="{% url 'positions_detail' position.id %}">
              <p>{{position.name}} ({{position.get_department_display}})</p>
            </a>
            <form action="{% url 'assoc_position' team.id position.id %}" method="post">
              {% csrf_token %}
              <button type='submit' class='btn submit'>Hire Position</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class='all-positions'>
          {{team.name}} has hired all of the available positions
        </p>
      {% endif %}
    </div>
  </section>
</div>


{% endblock %}